/* General Blueprint Style */
@import url('https://fonts.googleapis.com/css?family=Prompt:200,400,600&display=swap');

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font-family: 'Prompt', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    background: #333;
}

a {
	color: #ccc;
	text-decoration: none;
}

a:hover {
	color: #000;
}

.ribbonheader {
	width: 100%;
	margin: 0 auto;
	text-align: left;
	padding: 1.4em;
	opacity: 0.7;
	visibility: visible;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.ribbonheader h1 {
	text-indent: -9999px;
}

.details {
	display: inline-block;
	line-height: 2.4em;
	color: rgba(0,0,0,.9);
	font-weight:200;
	font-size: 18px;
}

.details a {
	display: inline-block;
	margin: 0 0.5em;
	font-weight: 200;
	color: rgba(0,0,0,.9);
}

.details a:hover,
.details a:focus {
	color: rgba(0,0,0,.6);
}


.side-left .footer {
	position: absolute;
	bottom: 0;
	left: 0;
}

.side-left .details {
	float: right;
	margin-left: 2em;
	margin-bottom: 1em;
}


.side-right .footer {
	position: absolute;
	bottom: 0;
	right: 0;
}

.side-right .details {
	float: right;
	margin-right: 2em;
	margin-bottom: 1em;
}


@media screen and (max-width: 73.375em) {
	.ribbonheader {
		text-align: center;
	}
	.ribbonheader h1,
	.ribbonheader nav,
	.demos {
		float: none;
		margin: 0 auto;
		padding: 0.15em 0;
	}
	.ribbonheader > span {
		padding: 0;
	}
	.ribbonheader > span span:after {
		display: none;
	}
}

@media screen and (max-height: 30.25em) {
	.ribbonheader nav { display: none; }
}